@charset "utf-8";
header {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #ffa200;
    color: #ffffff;
    font-size: 0.3rem;
    text-align: center;
}
.header-back{
    height: 0.5rem;
    width: 0.5rem;
    float: left;
    margin: 0.25rem -0.7rem 0.25rem 0.2rem;
    background: url(../img/theme/header-back.png) center no-repeat;
    background-size: 100%;
}
.header-more{
    height: 0.5rem;
    width: 0.5rem;
    float: right;
    margin: 0.25rem 0.25rem 0.2rem -0.7rem;
    background: url(../img/theme/header-more.png) center no-repeat;
    background-size: 100%;
}
.header-more-con:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -0.15rem;
    right: 0.1rem;
    border-bottom: 10px solid rgba(255, 162, 0, 0.9);;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.header-more-con.hide{
    display: none;
}
.header-more-con.show{
    display: block;
}
.header-more-con{
    position: absolute;
    z-index: 2;
    width: 1.2rem;
    top: 1.2rem;
    right: 0.2rem;
    background: rgba(255, 162, 0, 0.9);
    padding: 0.2rem;
    border-radius: 0.1rem;
}
.header-more-con ul li{
    line-height: 0.3rem;
    margin: 0.1rem auto;
    text-align: center;
}
.header-more-con .blank2em{
    width: 2em;
    height: 10px;
    overflow: hidden;
    display: inline-block;
}
.header-more-con ul li a{
    color: #fff;
    font-size: 0.22rem;
}
main{
    width: 100%;
    position: absolute;
    top: 1rem;
    bottom: 1.19rem;
    overflow-y: scroll;
}
::-webkit-scrollbar{display:none}
footer {
    width: 100%;
    height: 1.19rem;
    border-top: 1px solid #cccccc;
    background: #ffffff;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
footer ul li{
    float: left;
    width: 33.33%;
    text-align: center;
    color: #575757;
    font-size: 0.2rem;
}
footer ul li em{
    display: block;
    width: 0.65rem;
    height: 0.65rem;
    margin: 0.1rem auto 0.05rem;
}
footer ul li p{
    color:#2b2b2b;
}
footer ul li:nth-child(1) em{
    background: url(../img/theme/footer-ico-01.png) center no-repeat;
    background-size: 100%;
}
footer ul li:nth-child(2) em{
    background: url(../img/theme/footer-ico-02.png) center no-repeat;
    background-size: 100%;
}
footer ul li:nth-child(3) em{
    background: url(../img/theme/footer-ico-03.png) center no-repeat;
    background-size: 100%;
}
footer ul li:nth-child(1).hover em{
    background: url(../img/theme/footer-ico-01-hover.png) center no-repeat;
    background-size: 100%;
}
footer ul li:nth-child(2).hover em{
    background: url(../img/theme/footer-ico-02-hover.png) center no-repeat;
    background-size: 100%;
}
footer ul li:nth-child(3).hover em{
    background: url(../img/theme/footer-ico-03-hover.png) center no-repeat;
    background-size: 100%;
}