@charset "utf-8";
main{
    background: #f5f5f5;
}
.x-box{
    width: 96%;
    overflow: hidden;
    margin: 15px auto;
}
.box-item{
    width: 100%;
    overflow: hidden;
    margin-top: -0.2rem;
}
.box-item:first-child{
    margin-top: 0;
}
.box-tit{
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    -webkit-border-radius: 0.2rem 0.2rem 0px 0px;
    -moz-border-radius: 0.2rem 0.2rem 0px 0px;
    border-radius: 0.2rem 0.2rem 0px 0px;
    background: #ffa200;
    color: #ffffff;
    font-size: 0.26rem;
}
.box-tit em{
    width: 0.6rem;
    height: 0.6rem;
    float: left;
    background: red;
    margin: 0.3rem 0.1rem 0.3rem 0.5rem ;
}
.box-con{
    width: 100%;
    overflow: hidden;
    box-sizing:border-box;
    padding: 0.2rem;
    margin: auto auto 0.2rem;
    background: #ffffff;
    -webkit-border-radius: 0px 0px 0.2rem 0.2rem;
    -moz-border-radius: 0px 0px 0.2rem 0.2rem;
    border-radius: 0px 0px 0.2rem 0.2rem;
    /*display:none;*/
}
/*公交*/
.transit .box-tit {
    background: #e51175
}

.transit .box-tit em {
    background: url(../img/xing/xing-ico-01.png) no-repeat;
    background-size: 100%;
}

.transit .box-con {
    overflow: hidden;
    width: 100%
}

.transit .box-con .transit-tit {
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 20px;
    position: relative;
}

.transit .box-con .transit-tit ul {
    position: absolute;
    height: 0.7rem;
    top: 0;
    overflow: hidden;
}

.transit .box-con .transit-tit ul li {
    float: left;
    padding: 0 10px;
    color: #666;
}

.transit .box-con .transit-tit ul .on {
    background: #ffb401;
    color: #ffffff;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}

.transit .box-con .transit-tit ul .on a {
    display: block; /* 修复Android 4.0.x 默认浏览器当前样色无效果bug */
}

.transit .box-con .transit-con {
    width: 100%;
    overflow: hidden;
}

.transit .box-con .transit-con .transit-item {
    width: 100%;
    overflow: hidden;
}

.transit .box-con .transit-con .transit-item ul {
    overflow: hidden;
}

.transit .box-con .transit-con .transit-item li {
    height: 33px;
    line-height: 33px;
}
.transit .box-con .transit-con .transit-item li .tit{
    color: #b0b0b0;
}
.transit .box-con .transit-con .transit-item li a {
    color: #666;
}

.transit .box-con .transit-con .transit-item li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}/* 去掉链接触摸高亮 */

/*出租车*/
.taxi .box-tit {
    background: #0e80bc
}

.taxi .box-tit em {
    background: url(../img/xing/xing-ico-02.png) no-repeat;
    background-size: 100%
}

.taxi .box-con .taxi-item{
    overflow: hidden;
}
.taxi .box-con .taxi-item .item-tit{
    float: left;
    background: #ffb401;
    font-weight: 500;
    padding: 0 10px;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.2rem;
    color: #ffffff;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.taxi .box-con .taxi-item .item-con{
    overflow: hidden;
    width: 100%;
}
.taxi .box-con .taxi-item .item-con li{
    float: left;
    height: 33px;
    line-height: 33px;
    padding-right: 10px;
}
.taxi .box-con .taxi-item .item-con li .tit{
    color: #b0b0b0;
}
/*客车*/
.bus .box-tit{background: #fb9800}
.bus .box-tit em{
    background: url(../img/xing/xing-ico-03.png) no-repeat;background-size: 100%}
.bus .box-con{}
/*火车*/
.train .box-tit{background: #5b971d}
.train .box-tit em{
    background: url(../img/xing/xing-ico-04.png) no-repeat;background-size: 100%}
.train .box-con .taxi-item{
    overflow: hidden;
}
.train .box-con .taxi-item .item-tit{
    float: left;
    background: #ffb401;
    font-weight: 500;
    padding: 0 10px;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.2rem;
    color: #ffffff;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.train .box-con .taxi-item .item-con{
    overflow: hidden;
    width: 100%;
}
.train .box-con .taxi-item .item-con li{
    float: left;
    height: 33px;
    line-height: 33px;
    padding-right: 10px;
}
.train .box-con .taxi-item .item-con li .tit{
    color: #b0b0b0;
}
/*航班*/
.flight .box-tit{background: #cb3514}
.flight .box-tit em{
    background: url(../img/xing/xing-ico-05.png) no-repeat;background-size: 100%}
.flight .box-con{}
/*银行*/
.bank .box-tit{background: #de7c01}
.bank .box-tit em{
    background: url(../img/xing/xing-ico-06.png) no-repeat;background-size: 100%}
.bank .box-con .bank-item{
    overflow: hidden;
}
.bank .box-con .bank-item .item-tit{
    float: left;
    background: #ffb401;
    font-weight: 500;
    padding: 0 10px;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.2rem;
    color: #ffffff;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.bank .box-con .bank-item .item-con{
    overflow: hidden;
    width: 100%;
}
.bank .box-con .bank-item .item-con li{
    float: left;
    height: 33px;
    line-height: 33px;
    padding-right: 10px;
}
.bank .box-con .bank-item .item-con li .tit{
    color: #b0b0b0;
}

