@charset "utf-8";
.chi-box{overflow: hidden;}
.box-tit{overflow: hidden;height: 1.96rem;border-bottom: 1px solid #eeeeee}
.box-tit ul li{width: 33.33%;float: left;height: 1.96rem;}
.box-tit ul li em{display: block;width: 1.1rem;height: 1.1rem;margin: 0.2rem auto 0.1rem;background: #feba01;-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius:50%;}
.box-tit ul li:nth-child(1) em{background: #feba01 url(../img/chi/chi-ico-01.png) center no-repeat;background-size: 70%}
.box-tit ul li:nth-child(2) em{background: #dd4669 url(../img/chi/chi-ico-02.png) center no-repeat;background-size: 70%}
.box-tit ul li:nth-child(3) em{background: #9cbf47 url(../img/chi/chi-ico-03.png) center no-repeat;background-size: 70%}
.box-tit ul li p{text-align: center;height: 0.32rem;line-height: 0.32rem}
.box-con{overflow: hidden;}
.box-item{overflow: hidden;}

.hotel{overflow: hidden;}
.hotel-item{width: 7rem;margin: 10px auto 5px;box-shadow: 2px 1px 4px #919191}
.hotel-tit{overflow: hidden;line-height: 0.5rem;padding: 5px;box-sizing: border-box}
.hotel-tit .tit{font-size: 0.3rem;font-weight: 700;float: left}
.hotel-tit .add{margin-left: 15px;overflow: hidden;font-size: 0.2rem;float: left;}
.hotel-tit .add em{background: url(../img/chi/chi-ico-add.png) no-repeat center;background-size: 100%;width: 0.3rem;height: 0.3rem;float: left;margin: 0.1rem 0.05rem}
.hotel-pic{width: 7rem;height: 3.5rem;overflow: hidden;margin: 0 auto;background-color: #9cbf47}
.hotel-info{overflow: hidden;padding: 5px;box-sizing: border-box}
.hotel-info .phone{float: left;font-size: 0.2rem}
.hotel-info .price{margin:0 10px;font-size: 0.2rem;float: right}
.hotel-info .price .red{color: red;font-size: 0.3rem;font-weight: 700}
.hotel-desc{font-size: 0.2rem;padding: 5px;box-sizing: border-box}
.hotel-desc .desc{font-size: 0.3rem}

.parking{overflow: hidden;border-bottom: 1px solid #eeeeee}
.parking:last-child{border-bottom: none}
.parking-item{width: 7rem;margin: 10px auto 5px;}
.parking-item ul li{width: 100%;overflow: hidden;height: 0.5rem;line-height: 0.5rem}
.park-name{font-size: 0.3rem;font-weight: 700;float: left}
.park-desc{font-size: 0.2rem;color: #666666;float: right}
.park-desc .desc1{float: left}
.park-desc .desc2{float: right;margin-left: 20px}
.park-desc .red{color: red;font-size: 0.2rem;font-weight: 700}
.park-add{font-size: 0.2rem;color: #666666}
.park-add em{background: url(../img/chi/chi-ico-add.png) no-repeat center;background-size: 100%;width: 0.3rem;height: 0.3rem;float: left;margin: 0.1rem 0.05rem}
.park-phone{font-size: 0.2rem;color: #666666}


