@charset "utf-8";
header{
    background: #ffa200 url(../img/index/index-header.png) bottom no-repeat;
    background-size: 100%;
}
.index-pic {
    width: 100%;
    position: relative;
    overflow: hidden;
    /*width: 7.5rem;/!* 设置焦点图最大宽度 *!/*/
    height: 3.92rem;
    margin: 0 auto;
}

.index-pic .slide-tit {
    position: absolute;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.index-pic .slide-tit li {
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #333;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 6px;
}

.index-pic .slide-tit li.on {
    background: #fff;
}

.index-pic .slide-con {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.index-pic .slide-con li {
    position: relative;
    text-align: center;
}

.index-pic .slide-con li img {
    background: url(../img/site/loading.gif) center center no-repeat;
    vertical-align: top;
    width: 100%; /* 图片宽度100%，达到自适应效果 */
}

.index-pic .slide-con li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 去掉链接触摸高亮 */
.index-pic .slide-con li .tit {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-indent: 10px;
    height: 30px;
    line-height: 30px;
    background: url(../img/site/focusBg.png) repeat-x;
    color: #fff;
    text-align: left;
}

.index-pic .slide-con ul li a img {
    width: 100%;
    height: 3.92rem;
}






.index-type {
    width: 100%;
    height: 2.8rem;
    overflow: hidden;
}

.index-type ul li {
    float: left;
    width: 25%;
    height: 2.8rem;
    text-align: center;
}

.index-type ul li a {
    display: block;
}

.index-type ul li a em {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.25rem auto 0.2rem;
    border-radius: 50%;
}

.index-type ul li a p {
    font-size: 0.24rem;
    color: #2b2b2b;
}

.index-type ul li:nth-child(1) a em {
    background: #6aa936 url(../img/index/index-type-ico-01.png) center no-repeat;
    background-size: 100%;
}

.index-type ul li:nth-child(2) a em {
    background: #ed583b url(../img/index/index-type-ico-02.png) center no-repeat;
    background-size: 100%;
}

.index-type ul li:nth-child(3) a em {
    background: #4d95e8 url(../img/index/index-type-ico-03.png) center no-repeat;
    background-size: 100%;
}
.index-type ul li:nth-child(4) a em {
    background: #dc3cb0 url(../img/index/index-type-ico-04.png) center no-repeat;
    background-size: 100%;
}
.index-fw {
    width: 100%;
    height: 4.4rem;
    overflow: hidden;
}

.index-fw ul li {
    float: left;
    width: 47%;
    height: 1.2rem;
    text-align: center;
    background: #f4f4f4;
    margin: 0.1rem auto 0.1rem 2%;
}

.index-fw ul li a {
    display: block;
}

.index-fw ul li a em {
    float: left;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.2rem 0.1rem 0.2rem 0.7rem;
}

.index-fw ul li:nth-child(1) a em {
    background:url(../img/index/index-fw-ico-01.png) center no-repeat;
    background-size: 100%;
}

.index-fw ul li:nth-child(2) a em {
    background:url(../img/index/index-fw-ico-02.png) center no-repeat;
    background-size: 100%;
}

.index-fw ul li:nth-child(3) a em {
    background:url(../img/index/index-fw-ico-04.png) center no-repeat;
    background-size: 100%;
}

.index-fw ul li:nth-child(4) a em {
    background:url(../img/index/index-fw-ico-03.png) center no-repeat;
    background-size: 100%;
}

.index-fw ul li:nth-child(5) a em {
    background:url(../img/index/index-fw-ico-06.png) center no-repeat;
    background-size: 100%;
}
.index-fw ul li:nth-child(6) a em {
    background:url(../img/index/index-fw-ico-05.png) center no-repeat;
    background-size: 100%;
}
.index-fw ul li a p {
    line-height: 1.2rem;
    text-align: left;
    font-size: 0.24rem;
    color: #2b2b2b;
}